body {
	margin: 0;
	font-family: Tahoma;
}



.nav-bar {
	width: 100%;
	padding-left: 30px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	background-color: #3c199c;
}


.nav-brand {
	color: ghostwhite;
}

.nav-links {
	display: flex;
	list-style: none;
	padding-right: 30px;
}

.nav-item a{
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	color: ghostwhite;
}


.section-one img {
	width: 100%;
}


.section-one {
	position: relative;
	text-align: center;
}


.centered-text {
	color: white;
	position: absolute;
	letter-spacing: 0.5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.purple-background {
	background-color: #3c199c;
	padding: 2px ;
	border-radius: 20px;
}